body {
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.logo {
   
    justify-content: center;
    align-items: center;
}

.logo>div {
    width: 400px;
}

.bar {
    justify-content: center;
    align-items: center;
   
}

#search {
        background-image: url(images/desktophr.png);
        background-position: 20px, 10px;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: 2px;
        border-radius: 60px;
        border-color: #e1e1e1;
        height: 62px;
        width: 850px;
        background-size: 24px;
}

#search:hover {
    height: 65px;
    width: 853px;
    border-style: none;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
}

.button {
    background-color: rgb(242, 242, 242);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border-style: none;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(102, 102, 102)
}

.button:hover  {
    border-style: solid;
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 23px;
    padding-left: 23px;
    border-color: rgb(201, 201, 201);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.06);
    color: rgb(0,0,0)
}
